<div class="jumbotron center">
  <h1>Welcome to PinTrance!</h1>
  <br/>
  <% if user_signed_in? %>
    
    <div class="center">
      <%= image_tag Pin.last.image.url, class: "img-frame" %>
      <div class="shout">
	<%= Pin.last.description %>
      </div>
      <br/>
    </div>

   <%= link_to "New Pin", new_pin_path, class: "btn btn-primary btn-lg" %>      
  <% else %>
  <p>
    <%= link_to "Log In", new_user_session_path, class: "btn btn-primary btn-lg" %>  
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  </p>
  <% end %>


</div>
