
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <%= link_to "PinTrance", root_path, class: "navbar-brand" %>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">

	<% if user_signed_in? %>
	  <li>
	    <%= link_to new_pin_path do %>
	      <span class="glyphicon glyphicon-plus-sign"></span> New
	    <% end %>	  
	  </li>
	<% end %>

	<li>
	  <%= link_to root_path do %>
	    <span class="glyphicon glyphicon-home"></span> Home
	  <% end %>
	</li>

	<li>
	  <%= link_to about_path do %>
	    <span class="glyphicon glyphicon-question-sign"></span> About
	  <% end %>
	</li>

	<% if user_signed_in? %>
	  <li>
	    <%= link_to edit_user_registration_path do %> 
	      <span class="glyphicon glyphicon-cog"></span> Account
	    <% end %>
	  </li>
	<% else %>
	  <li>
	    <%= link_to new_user_registration_path do %>
	      <span class="glyphicon glyphicon-pencil"></span> Sign Up
	    <% end %>
	  </li>
	<% end %>
	<li>
	  <%= link_to contact_path do %>
	    <span class="glyphicon glyphicon-envelope"></span> Contact
	  <% end %>
	</li>
	<% if user_signed_in? %>
	  <li>
	    <%= link_to pins_path do %>
	      <span class="glyphicon glyphicon-th"></span> Pins
	    <% end %>
	  </li>
          <li>
	    <%= link_to destroy_user_session_path, method: :delete do %>
	      <span class="glyphicon glyphicon-arrow-right"></span> Log Out
	    <% end %>
	  </li>
	<% else %>
	  <li>
	    <%= link_to new_user_session_path do %>
	      <span class="glyphicon glyphicon-arrow-right"></span> Log In
	    <% end %>
	  </li>
	<% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>

